    h1 {
        width: 100%;
        text-align: center;
        background-color: black;
        color: white;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    ul li a {
        text-decoration-line: none;
        color: white;
    }
    
    nav {
        width: calc(100%- 10px);
        background-color: #464343;
        margin-top: 0;
    }
    
    nav ul {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    ul {
        margin-inline-start: -30px
    }
    
    nav ul li {
        display: inline-block;
        list-style: none;
    }
    
    nav ul li a:hover {
        background-color: gray;
        border-radius: 10%;
    }
    
    .item {
        margin: 7px;
    }
    
    li.menu,
    li.filter {
        float: left;
    }
    
    li.hamburger {
        float: right;
    }
    
    .container {
        width: 100%;
        margin: 0 auto;
    }
    
    .container .box {
        width: calc(100% -10px);
        margin: 0px 10px 0 10px;
        overflow: hidden;
    }
    
    div img {
        width: 100%;
    }
    
    .container>.fas {
        color: white;
    }
    
    .container .title p {
        display: inline;
        margin-left: 5px;
    }
    
    .container .title .fa-cart-arrow-down {
        color: black;
        float: right;
        position: relative;
        bottom: 10px;
        margin: 10px;
        padding: 5px;
    }
    
    .title .fa-cart-arrow-down:hover {
        background-color: cadetblue;
        border-radius: 50%;
    }
    
    .title {
        background-color: rgb(245, 237, 222);
        margin-top: 0;
        margin-bottom: 2px;
        height: 25px;
        line-height: 25px;
    }
    
    footer {
        background-color: rgb(48, 46, 46);
        height: 150px;
    }
    
    footer article {
        display: inline-block;
        margin-right: 5px;
    }
    
    footer article ul {
        list-style: none;
    }
    
    article#social-media {
        float: right;
    }
    
    article#social-media i {
        font-size: xx-large;
        margin: 4px;
    }
    
    .fa-twitter-square,
    .fa-facebook-square {
        color: blue;
    }
    
    @media (min-width: 481px) {
        .container {
            width: 450px;
        }
        .container .box {
            display: inline-block;
            width: calc(50% - 6px);
            margin: 2px;
        }
        .container .box img {
            height: 180px;
        }
    }
    
    @media (min-width:769px) {
        .container {
            width: 750px;
        }
        .container .box {
            width: calc(33% - 6px);
            margin-top: 5px;
            margin-bottom: 0px;
        }
        article ul.notig {
            margin-left: 20px;
        }
    }
    
    @media (min-width:1025px) {
        h1 {
            text-align: left;
        }
        .container {
            width: 960px;
        }
        .container .box {
            width: calc(25% - 24px)
        }
        article ul.notig,
        article ul.sonst {
            /* float: left; */
            margin-left: 50px;
        }
        nav {
            display: block;
            background-color: cadetblue;
            width: 10%;
            height: 1205px;
            position: relative;
            float: left;
            margin-right: 5px;
        }
        nav ul li {
            display: block;
        }
        li.menu,
        li.filter {
            float: none;
        }
        li.hamburger {
            position: absolute;
            top: 2px;
            right: 2px;
        }
    }